{% extends "base.html" %}

{% block title_head %}
Busca una recomendacion
{% endblock title_head %}

{% block Titulo_pagina %}
    <h1 class="masthead-heading mb-0">Busca uno de nuestros animes recomendados </h1>
{% endblock Titulo_pagina %}
{% block contenido_pagina %}{% endblock contenido_pagina %}

{% block main %}

<div class="row gx-5 align-items-center justify-content-center text-center">
    <p class="display-4 text-success">
        Complete uno o más campos de la búsqueda y poder conocer las recomendaciones ingresadas
    </p>
</div>

<div class="container my-4">
    <form action="{% url 'Inicio:buscar_recomendacion' %}" class="ms-3" style="max-width: 500px;">
        {{ form }}
        <input type="submit" class="btn btn-primary">
    </form>
</div>

<div class="row gx-5 align-items-center justify-content-center text-center">
    <p class="display-4 text-danger">
        LISTA DE ANIMES REGISTRADOS
    </p>
</div>

<div class="container my-4">
    {% if animes %}
    <ul class="ms-3" style="max-width: 600px;">
        {% for anime in animes %}
        <li>{{anime}}   <a href="{% url "Inicio:ver_recomendacion" anime.id %}" class="btn btn-primary">Ver más</a> 
                        {% if anime.user == request.user %}
                        <a href="{% url 'Inicio:editar_recomendacion' anime.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'Inicio:eliminar_recomendacion' anime.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}          
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay animes registrados aún.</p>
    {% endif %}
</div>    

<div class="row gx-5 align-items-center justify-content-center text-center">
    <p class="fs-4">
        * El campo puntuacion se encuentra en un rango del 1 al 10, siendo 10 una recomendacion que todos deberian ver y
        1 para un anime que no le mostrarías a nadie.
    </p>
</div>

{% endblock main %}

