{% extends "base.html" %}

{% block title_head %}
Busca una recomendacion
{% endblock title_head %}

{% block Titulo_pagina %}
    <h1 class="masthead-heading mb-0">Busca uno de nuestros animes recomendados </h1>
{% endblock Titulo_pagina %}
{% block contenido_pagina %}{% endblock contenido_pagina %}

{% block main %}

<p>Complete uno o mas campos para la búsqueda
   y poder conocer las recomendaciones ingresadas
</p>

<form action="{% url "Inicio:buscar_recomendacion" %}">
    {{form}}
    <input type="submit">
</form>

<p>LISTA DE ANIMES INGRESADOS</p>

{% if animes %}
<ul>
    {% for anime in animes %}
    <li>{{anime}}         
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay animes registrados aún.</p>
{% endif %}

{% endblock main %}