{% extends "base.html" %}
{% load static %}

{% block title_head %}
Cerrar sesion
{% endblock title_head %}

{% block Titulo_pagina %}
    <h1 class="masthead-heading mb-0">Tu sesion ha sido cerrada correctamente</h1>
{% endblock Titulo_pagina %}

{% block contenido_pagina %}{% endblock contenido_pagina %}

{% block main %}


<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src={% static "assets/img/subaru.gif" %} alt="..." style="height: 300px; width: 300px;"/></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Vuelve pronto! </h2>
                    
                    <form method="get" action="{% url 'Inicio:inicio' %}">
                        <input type="submit" class="btn btn-primary" value="Regresar al Inicio">
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}